{% extends 'base.html' %}


{% block content %}
    <h1 style="color: white; font-family: Lily Script One;">Welcome {{ user.first_name }}</h1>
    <img src="/static/img/dalogo.png" alt="Safetea">
    <h2>We have a few guidelines you must agree to continue:</h2>
    <p>Posting GuidelinesNo negative words in the original post. This includes name calling, assumptions, suspicions, possible defamation, or even words like "fboy”, “ghosted”, or "weird".
        Absolutely NO ScreenshotsDue to domestic/ dating violence, absolutely no screenshots or info shall be shared outside of this group. This is to ensure the safety of our group members. Any member found violating will be PERMANENTLY BANNED.
        No Doxing Do not post personal information. First name only. No addresses or places of employment.
        No Libel or Defamation of CharacterNo false information about anyone will be tolerated. Please be prepared to show proof of anything you state about any individual. If you don't have any proof of allegations you made in this group against someone, you are in danger of being sued for libel and/or defamation. If you do not have any evidence, you are posting at your own risk. We do not accept any responsibility for anything you post or comment here.
        No contacting subjects of PostsDo NOT contact men who have been posted. You will be putting our members in danger. We are here to WARN women, NOT teach men a lesson. Any member who contacts a posted subject will be automatically banned.</p>
 {% endblock %}