body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FEC7D7; 
  color: #0e172c;
  font-family: Optima;
}
header {
  background-color: #0e172c !important;
}
main {
  flex-grow: 1;
}
button {
  background-color: #0e172c;
}